# Silver Layer
## Data Cleaning and Transformation Pipeline üõ†Ô∏èüìä

## Introduction üöÄ
Raw data is often messy, inconsistent, and incomplete. To make it usable for analysis, it must undergo a structured cleaning and transformation process. This notebook outlines a pipeline to standardize, clean, and transform data by:

- üóëÔ∏è Removing duplicates
- üîç Handling missing values
- üîÑ Type casting for consistency
- üîó Enriching data by joining with other datasets
- ‚úÇÔ∏è Removing unnecessary fields

This ensures high-quality, structured data for analysis and decision-making. ‚úÖ

### The Silver Layer in the Medallion Architecture üíé
In the Medallion Architecture, the Silver layer represents the cleaned, structured, and enriched data. This layer standardizes raw data from the Bronze layer, ensuring consistency and reliability for further analytical processing. The cleaning steps in this notebook align with the principles of the Silver layer by transforming raw, semi-structured data into a well-defined schema.
"""

In [193]:
import numpy as np
import pandas as pd
import os

In [194]:
help(pd.set_option)

Help on CallableDynamicDoc in module pandas._config.config:

<pandas._config.config.CallableDynamicDoc object>
    set_option(pat, value)

    Sets the value of the specified option.

    Available options:

    - compute.[use_bottleneck, use_numba, use_numexpr]
    - display.[chop_threshold, colheader_justify, date_dayfirst, date_yearfirst,
      encoding, expand_frame_repr, float_format]
    - display.html.[border, table_schema, use_mathjax]
    - display.[large_repr, max_categories, max_columns, max_colwidth, max_dir_items,
      max_info_columns, max_info_rows, max_rows, max_seq_items, memory_usage,
      min_rows, multi_sparse, notebook_repr_html, pprint_nest_depth, precision,
      show_dimensions]
    - display.unicode.[ambiguous_as_wide, east_asian_width]
    - display.[width]
    - future.[infer_string]
    - io.excel.ods.[reader, writer]
    - io.excel.xls.[reader]
    - io.excel.xlsb.[reader]
    - io.excel.xlsm.[reader, writer]
    - io.excel.xlsx.[reader, writer]
    - io.hdf.[default_format, dropna_table]
    - io.parquet.[engine]
    - io.sql.[engine]
    - mode.[chained_assignment, copy_on_write, data_manager, sim_interactive,
      string_storage, use_inf_as_na]
    - plotting.[backend]
    - plotting.matplotlib.[register_converters]
    - styler.format.[decimal, escape, formatter, na_rep, precision, thousands]
    - styler.html.[mathjax]
    - styler.latex.[environment, hrules, multicol_align, multirow_align]
    - styler.render.[encoding, max_columns, max_elements, max_rows, repr]
    - styler.sparse.[columns, index]

    Parameters
    ----------
    pat : str
        Regexp which should match a single option.
        Note: partial matches are supported for convenience, but unless you use the
        full option name (e.g. x.y.z.option_name), your code may break in future
        versions if new options with similar names are introduced.
    value : object
        New value of option.

    Returns
    -------
    None

    Raises
    ------
    OptionError if no such option exists

    Notes
    -----
    Please reference the :ref:`User Guide <options>` for more information.

    The available options with its descriptions:

    compute.use_bottleneck : bool
        Use the bottleneck library to accelerate if it is installed,
        the default is True
        Valid values: False,True
        [default: True] [currently: True]
    compute.use_numba : bool
        Use the numba engine option for select operations if it is installed,
        the default is False
        Valid values: False,True
        [default: False] [currently: False]
    compute.use_numexpr : bool
        Use the numexpr library to accelerate computation if it is installed,
        the default is True
        Valid values: False,True
        [default: True] [currently: True]
    display.chop_threshold : float or None
        if set to a float value, all float values smaller than the given threshold
        will be displayed as exactly 0 by repr and friends.
        [default: None] [currently: None]
    display.colheader_justify : 'left'/'right'
        Controls the justification of column headers. used by DataFrameFormatter.
        [default: right] [currently: right]
    display.date_dayfirst : boolean
        When True, prints and parses dates with the day first, eg 20/01/2005
        [default: False] [currently: False]
    display.date_yearfirst : boolean
        When True, prints and parses dates with the year first, eg 2005/01/20
        [default: False] [currently: False]
    display.encoding : str/unicode
        Defaults to the detected encoding of the console.
        Specifies the encoding to be used for strings returned by to_string,
        these are generally strings meant to be displayed on the console.
        [default: UTF-8] [currently: UTF-8]
    display.expand_frame_repr : boolean
        Whether to print out the full DataFrame repr for wide DataFrames across
        multiple lines, `max_columns` is still respected, but the output will
        wrap-around across multiple "pages" if its width exceeds `display.width`.
        [default: True] [currently: True]
    display.float_format : callable
        The callable should accept a floating point number and return
        a string with the desired format of the number. This is used
        in some places like SeriesFormatter.
        See formats.format.EngFormatter for an example.
        [default: None] [currently: None]
    display.html.border : int
        A ``border=value`` attribute is inserted in the ``<table>`` tag
        for the DataFrame HTML repr.
        [default: 1] [currently: 1]
    display.html.table_schema : boolean
        Whether to publish a Table Schema representation for frontends
        that support it.
        (default: False)
        [default: False] [currently: False]
    display.html.use_mathjax : boolean
        When True, Jupyter notebook will process table contents using MathJax,
        rendering mathematical expressions enclosed by the dollar symbol.
        (default: True)
        [default: True] [currently: True]
    display.large_repr : 'truncate'/'info'
        For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
        show a truncated table, or switch to the view from
        df.info() (the behaviour in earlier versions of pandas).
        [default: truncate] [currently: truncate]
    display.max_categories : int
        This sets the maximum number of categories pandas should output when
        printing out a `Categorical` or a Series of dtype "category".
        [default: 8] [currently: 8]
    display.max_columns : int
        If max_cols is exceeded, switch to truncate view. Depending on
        `large_repr`, objects are either centrally truncated or printed as
        a summary view. 'None' value means unlimited.

        In case python/IPython is running in a terminal and `large_repr`
        equals 'truncate' this can be set to 0 or None and pandas will auto-detect
        the width of the terminal and print a truncated object which fits
        the screen width. The IPython notebook, IPython qtconsole, or IDLE
        do not run in a terminal and hence it is not possible to do
        correct auto-detection and defaults to 20.
        [default: 20] [currently: 20]
    display.max_colwidth : int or None
        The maximum width in characters of a column in the repr of
        a pandas data structure. When the column overflows, a "..."
        placeholder is embedded in the output. A 'None' value means unlimited.
        [default: 50] [currently: 50]
    display.max_dir_items : int
        The number of items that will be added to `dir(...)`. 'None' value means
        unlimited. Because dir is cached, changing this option will not immediately
        affect already existing dataframes until a column is deleted or added.

        This is for instance used to suggest columns from a dataframe to tab
        completion.
        [default: 100] [currently: 100]
    display.max_info_columns : int
        max_info_columns is used in DataFrame.info method to decide if
        per column information will be printed.
        [default: 100] [currently: 100]
    display.max_info_rows : int or None
        df.info() will usually show null-counts for each column.
        For large frames this can be quite slow. max_info_rows and max_info_cols
        limit this null check only to frames with smaller dimensions than
        specified.
        [default: 1690785] [currently: 1690785]
    display.max_rows : int
        If max_rows is exceeded, switch to truncate view. Depending on
        `large_repr`, objects are either centrally truncated or printed as
        a summary view. 'None' value means unlimited.

        In case python/IPython is running in a terminal and `large_repr`
        equals 'truncate' this can be set to 0 and pandas will auto-detect
        the height of the terminal and print a truncated object which fits
        the screen height. The IPython notebook, IPython qtconsole, or
        IDLE do not run in a terminal and hence it is not possible to do
        correct auto-detection.
        [default: 60] [currently: 60]
    display.max_seq_items : int or None
        When pretty-printing a long sequence, no more then `max_seq_items`
        will be printed. If items are omitted, they will be denoted by the
        addition of "..." to the resulting string.

        If set to None, the number of items to be printed is unlimited.
        [default: 100] [currently: 100]
    display.memory_usage : bool, string or None
        This specifies if the memory usage of a DataFrame should be displayed when
        df.info() is called. Valid values True,False,'deep'
        [default: True] [currently: True]
    display.min_rows : int
        The numbers of rows to show in a truncated view (when `max_rows` is
        exceeded). Ignored when `max_rows` is set to None or 0. When set to
        None, follows the value of `max_rows`.
        [default: 10] [currently: 10]
    display.multi_sparse : boolean
        "sparsify" MultiIndex display (don't display repeated
        elements in outer levels within groups)
        [default: True] [currently: True]
    display.notebook_repr_html : boolean
        When True, IPython notebook will use html representation for
        pandas objects (if it is available).
        [default: True] [currently: True]
    display.pprint_nest_depth : int
        Controls the number of nested levels to process when pretty-printing
        [default: 3] [currently: 3]
    display.precision : int
        Floating point output precision in terms of number of places after the
        decimal, for regular formatting as well as scientific notation. Similar
        to ``precision`` in :meth:`numpy.set_printoptions`.
        [default: 6] [currently: 6]
    display.show_dimensions : boolean or 'truncate'
        Whether to print out dimensions at the end of DataFrame repr.
        If 'truncate' is specified, only print out the dimensions if the
        frame is truncated (e.g. not display all rows and/or columns)
        [default: truncate] [currently: truncate]
    display.unicode.ambiguous_as_wide : boolean
        Whether to use the Unicode East Asian Width to calculate the display text
        width.
        Enabling this may affect to the performance (default: False)
        [default: False] [currently: False]
    display.unicode.east_asian_width : boolean
        Whether to use the Unicode East Asian Width to calculate the display text
        width.
        Enabling this may affect to the performance (default: False)
        [default: False] [currently: False]
    display.width : int
        Width of the display in characters. In case python/IPython is running in
        a terminal this can be set to None and pandas will correctly auto-detect
        the width.
        Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
        terminal and hence it is not possible to correctly detect the width.
        [default: 80] [currently: 80]
    future.infer_string Whether to infer sequence of str objects as pyarrow string dtype, which will be the default in pandas 3.0 (at which point this option will be deprecated).
        [default: False] [currently: False]
    io.excel.ods.reader : string
        The default Excel reader engine for 'ods' files. Available options:
        auto, odf.
        [default: auto] [currently: auto]
    io.excel.ods.writer : string
        The default Excel writer engine for 'ods' files. Available options:
        auto, odf.
        [default: auto] [currently: auto]
    io.excel.xls.reader : string
        The default Excel reader engine for 'xls' files. Available options:
        auto, xlrd.
        [default: auto] [currently: auto]
    io.excel.xlsb.reader : string
        The default Excel reader engine for 'xlsb' files. Available options:
        auto, pyxlsb.
        [default: auto] [currently: auto]
    io.excel.xlsm.reader : string
        The default Excel reader engine for 'xlsm' files. Available options:
        auto, xlrd, openpyxl.
        [default: auto] [currently: auto]
    io.excel.xlsm.writer : string
        The default Excel writer engine for 'xlsm' files. Available options:
        auto, openpyxl.
        [default: auto] [currently: auto]
    io.excel.xlsx.reader : string
        The default Excel reader engine for 'xlsx' files. Available options:
        auto, xlrd, openpyxl.
        [default: auto] [currently: auto]
    io.excel.xlsx.writer : string
        The default Excel writer engine for 'xlsx' files. Available options:
        auto, openpyxl, xlsxwriter.
        [default: auto] [currently: auto]
    io.hdf.default_format : format
        default format writing format, if None, then
        put will default to 'fixed' and append will default to 'table'
        [default: None] [currently: None]
    io.hdf.dropna_table : boolean
        drop ALL nan rows when appending to a table
        [default: False] [currently: False]
    io.parquet.engine : string
        The default parquet reader/writer engine. Available options:
        'auto', 'pyarrow', 'fastparquet', the default is 'auto'
        [default: auto] [currently: auto]
    io.sql.engine : string
        The default sql reader/writer engine. Available options:
        'auto', 'sqlalchemy', the default is 'auto'
        [default: auto] [currently: auto]
    mode.chained_assignment : string
        Raise an exception, warn, or no action if trying to use chained assignment,
        The default is warn
        [default: warn] [currently: warn]
    mode.copy_on_write : bool
        Use new copy-view behaviour using Copy-on-Write. Defaults to False,
        unless overridden by the 'PANDAS_COPY_ON_WRITE' environment variable
        (if set to "1" for True, needs to be set before pandas is imported).
        [default: False] [currently: False]
    mode.data_manager : string
        Internal data manager type; can be "block" or "array". Defaults to "block",
        unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
        to be set before pandas is imported).
        [default: block] [currently: block]
    mode.sim_interactive : boolean
        Whether to simulate interactive mode for purposes of testing
        [default: False] [currently: False]
    mode.string_storage : string
        The default storage for StringDtype. This option is ignored if
        ``future.infer_string`` is set to True.
        [default: python] [currently: python]
    mode.use_inf_as_na : boolean
        True means treat None, NaN, INF, -INF as NA (old way),
        False means None and NaN are null, but INF, -INF are not NA
        (new way).

        This option is deprecated in pandas 2.1.0 and will be removed in 3.0.
        [default: False] [currently: False]
        (Deprecated, use `` instead.)
    plotting.backend : str
        The plotting backend to use. The default value is "matplotlib", the
        backend provided with pandas. Other backends can be specified by
        providing the name of the module that implements the backend.
        [default: matplotlib] [currently: matplotlib]
    plotting.matplotlib.register_converters : bool or 'auto'.
        Whether to register converters with matplotlib's units registry for
        dates, times, datetimes, and Periods. Toggling to False will remove
        the converters, restoring any converters that pandas overwrote.
        [default: auto] [currently: auto]
    styler.format.decimal : str
        The character representation for the decimal separator for floats and complex.
        [default: .] [currently: .]
    styler.format.escape : str, optional
        Whether to escape certain characters according to the given context; html or latex.
        [default: None] [currently: None]
    styler.format.formatter : str, callable, dict, optional
        A formatter object to be used as default within ``Styler.format``.
        [default: None] [currently: None]
    styler.format.na_rep : str, optional
        The string representation for values identified as missing.
        [default: None] [currently: None]
    styler.format.precision : int
        The precision for floats and complex numbers.
        [default: 6] [currently: 6]
    styler.format.thousands : str, optional
        The character representation for thousands separator for floats, int and complex.
        [default: None] [currently: None]
    styler.html.mathjax : bool
        If False will render special CSS classes to table attributes that indicate Mathjax
        will not be used in Jupyter Notebook.
        [default: True] [currently: True]
    styler.latex.environment : str
        The environment to replace ``\begin{table}``. If "longtable" is used results
        in a specific longtable environment format.
        [default: None] [currently: None]
    styler.latex.hrules : bool
        Whether to add horizontal rules on top and bottom and below the headers.
        [default: False] [currently: False]
    styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
        The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
        decorators can also be added to non-naive values to draw vertical
        rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
        [default: r] [currently: r]
    styler.latex.multirow_align : {"c", "t", "b"}
        The specifier for vertical alignment of sparsified LaTeX multirows.
        [default: c] [currently: c]
    styler.render.encoding : str
        The encoding used for output HTML and LaTeX files.
        [default: utf-8] [currently: utf-8]
    styler.render.max_columns : int, optional
        The maximum number of columns that will be rendered. May still be reduced to
        satisfy ``max_elements``, which takes precedence.
        [default: None] [currently: None]
    styler.render.max_elements : int
        The maximum number of data-cell (<td>) elements that will be rendered before
        trimming will occur over columns, rows or both if needed.
        [default: 262144] [currently: 262144]
    styler.render.max_rows : int, optional
        The maximum number of rows that will be rendered. May still be reduced to
        satisfy ``max_elements``, which takes precedence.
        [default: None] [currently: None]
    styler.render.repr : str
        Determine which output to use in Jupyter Notebook in {"html", "latex"}.
        [default: html] [currently: html]
    styler.sparse.columns : bool
        Whether to sparsify the display of hierarchical columns. Setting to False will
        display each explicit level element in a hierarchical key for each column.
        [default: True] [currently: True]
    styler.sparse.index : bool
        Whether to sparsify the display of a hierarchical index. Setting to False will
        display each explicit level element in a hierarchical key for each row.
        [default: True] [currently: True]

    Examples
    --------
    >>> pd.set_option('display.max_columns', 4)
    >>> df = pd.DataFrame([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
    >>> df
       0  1  ...  3   4
    0  1  2  ...  4   5
    1  6  7  ...  9  10
    [2 rows x 5 columns]
    >>> pd.reset_option('display.max_columns')

In [195]:
os.chdir(r"C:\Users\fd92u")  # Ensure this matches the correct location

# üì° Connecting to Supabase PostgreSQL & Fetching Data

## üîπ Overview
This script connects to a **Supabase-hosted PostgreSQL database**, retrieves data from the `bronze.rightmove_data_brz` table, and loads it into a **Pandas DataFrame** for further processing.

---

In [196]:
import psycopg2

DATABASE_URL = "postgresql://postgres.nvsxjetzyvombzhzuzdw:uksg2023A11@aws-0-eu-west-2.pooler.supabase.com:5432/postgres"

# Connect to Supabase PostgreSQL
conn = psycopg2.connect(DATABASE_URL)

# Execute SQL query and fetch data
cursor = conn.cursor()
cursor.execute("SELECT * FROM bronze.rightmove_data_brz;")

# Get column names
columns = [desc[0] for desc in cursor.description]

# Convert result to DataFrame
df_raw = pd.DataFrame(cursor.fetchall(), columns=columns)

# Close connection
cursor.close()
conn.close()

In [197]:
from functions import data_overview, variables_overview

In [198]:
data_overview(df, "Data_Overview")

                       Data_Overview
Columns                        14.00
Rows                          904.00
Missing_Values                 80.00
Missing_Values %                8.85
Duplicates                      0.00
Duplicates %                    0.00
Categorical_variables          11.00
Boolean_variables               0.00
Numerical_variables             3.00

In [199]:
variables_overview(df_raw)

,unique,dtype,null,null %,has_non_alphanumeric,has_digits
id,904,int64,0,0.000000,False,True
Property Address,590,object,3,0.331858,True,True
Agent Address,193,object,3,0.331858,True,True
Agent Name,192,object,0,0.000000,True,True
Available Date,100,object,0,0.000000,True,True
Property Type,17,object,1,0.110619,True,True
Bedrooms,10,object,33,3.650442,True,True
Bathrooms,7,object,46,5.088496,True,True
Post Date,16,object,0,0.000000,True,True
Price,247,object,0,0.000000,True,True
Latitude,571,float64,0,0.000000,True,True
Longitude,570,float64,0,0.000000,True,True
URL,757,object,0,0.000000,True,True

## üõ† Standardizing Column Names in a DataFrame  

When working with **pandas DataFrames**, it's essential to **clean and standardize column names** to ensure consistency, avoid errors, and make data processing easier in SQL queries and API requests.

This snippet transforms column names into a **clean, lowercase, and standardized format**.

‚úÖ Prevents issues when working with databases (e.g., SQL column names).

‚úÖ Ensures compatibility with various programming languages and frameworks.

‚úÖ Makes it easier to reference columns in code.

In [200]:
#standardize(lowercas) column names and make them consistent
df_raw.columns = map(str.lower, df_raw.columns)

In [201]:
# replace non-alphanumeric characters with underscore
# Replace spaces and special characters in column names with underscores
df_raw.columns = df_raw.columns.str.replace(r'[^0-9a-zA-Z]+', '_', regex=True)

In [202]:
from datetime import datetime

# Add a new column with today's timestamp
df_raw["ingestion_timestamp"] = pd.Timestamp.today()

# Display updated dataframe

# Step 2: Handle Missing Values

In [203]:
variables_overview_data=variables_overview(df_raw)

In [204]:
#Categorical Variables with missing values
cat_miss_values = variables_overview_data.loc[(variables_overview_data["dtype"] == "object") & (variables_overview_data["null"] > 0)]
cat_miss_values

,unique,dtype,null,null %,has_non_alphanumeric,has_digits
property_address,590,object,3,0.331858,True,True
agent_address,193,object,3,0.331858,True,True
property_type,17,object,1,0.110619,True,True
bedrooms,10,object,33,3.650442,True,True
bathrooms,7,object,46,5.088496,True,True

- ### property_address

In [205]:
from tqdm import tqdm  # Progress bar
from geopy.geocoders import Nominatim

# Initialize geolocator with a unique user agent
geolocator = Nominatim(user_agent="your_unique_app_name")

# Function to get address from latitude & longitude
def get_address(lat, lon):
    try:
        location = geolocator.reverse((lat, lon), exactly_one=True)
        return location.address if location else None
    except Exception as e:
        print(f"Error fetching address for {lat}, {lon}: {e}")
        return None

# Iterate through DataFrame and update missing addresses
tqdm.pandas()  # Enable progress bar

for index, row in df_raw.iterrows():
    if pd.isna(row["property_address"]):  # Check if property_address is missing
        df_raw.at[index, "property_address"] = get_address(row["latitude"], row["longitude"])

# ‚úÖ Now, df["property_address"] will have missing values filled!

- ### agent_address

In [206]:
import pandas as pd

def fill_missing_agent_address(df):
    """
    Replaces missing values in 'agent_address' with the most common address
    for the same 'agent_name' if available.
    """
    for index, row in df.iterrows():
        if pd.isna(row["agent_address"]):  # If agent_address is missing
            # Find the most common agent_address for the same agent_name
            address = df.loc[
                (df["agent_name"] == row["agent_name"]) & df["agent_address"].notna(), 
                "agent_address"
            ].mode()
            
            # If we found a valid address, replace the missing value
            if not address.empty:
                df.at[index, "agent_address"] = address[0]

    return df

# ‚úÖ Call the function
df_raw = fill_missing_agent_address(df_raw)

- ### property_type

In [207]:
df_raw["property_type"].fillna("Unknown", inplace=True)

In [208]:
df_raw['bedrooms'].fillna("0", inplace=True)
df_raw['bathrooms'].fillna("0", inplace=True)

In [209]:
import pandas as pd
import re

def extract_first_price(price):
    """
    Extracts the first price (e.g., '¬£1,815') from a given price string.
    
    Parameters:
        price (str): The price string containing multiple prices.
    
    Returns:
        str: The first price found or None if no match is found.
    """
    if pd.notna(price):  # Ensure the value is not NaN
        match = re.search(r"[\d,]+", str(price))  # Search for price pattern
        if match:
            return match.group()  # Return the first price found
    return None  # Return None if no match is found

def apply_price_extraction(df, source_col, new_col):
    """
    Applies the extract_first_price function to a DataFrame column and stores it in a new column.
    
    Parameters:
        df (pd.DataFrame): The DataFrame containing the data.
        source_col (str): The column name containing price information.
        new_col (str): The name of the new column where extracted prices will be stored.
    
    Returns:
        pd.DataFrame: Updated DataFrame with the new column.
    """
    df[new_col] = df[source_col].apply(extract_first_price)
    return df



df_raw = apply_price_extraction(df_raw, "price", "monthly_price")

In [210]:
df_raw["monthly_price"] = df_raw["monthly_price"].str.replace(",", "", regex=True)
df_raw["monthly_price"] = pd.to_numeric(df_raw["monthly_price"], errors="coerce").astype("Int64")

In [211]:
from datetime import datetime, timedelta
import pandas as pd

def parse_post_date(df):
    """
    Extracts and standardizes the date from the 'post_date' column.
    Handles 'Added today', 'Added yesterday', 'Reduced today', 'Reduced yesterday'.
    Extracts dates from 'Added on DD/MM/YYYY' or 'Reduced on DD/MM/YYYY'.
    """
    today = datetime.today().strftime('%Y-%m-%d')
    yesterday = (datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d')

    parsed_dates = []

    for post_date in df["post_date"]:
        if isinstance(post_date, str):  # Ensure it's a string before processing
            post_date = post_date.strip().lower()  # Normalize case and remove extra spaces
            
            if post_date in ["added today", "reduced today"]:
                parsed_dates.append(today)
            elif post_date in ["added yesterday", "reduced yesterday"]:
                parsed_dates.append(yesterday)
            else:
                try:
                    # Extract actual date from text (handles both 'Added on' and 'Reduced on')
                    date_str = post_date.replace("added on ", "").replace("reduced on ", "").strip()
                    parsed_date = datetime.strptime(date_str, "%d/%m/%Y").strftime('%Y-%m-%d')
                    parsed_dates.append(parsed_date)
                except ValueError:
                    parsed_dates.append(None)  # If parsing fails, set as None
        else:
            parsed_dates.append(None)  # Handle cases where post_date is not a string

    df["parsed_post_date"] = parsed_dates
    return df

In [212]:
df_raw = parse_post_date(df_raw)

In [213]:
from datetime import datetime
import pandas as pd

def parse_available_date(df):
    """
    Extracts and standardizes the date from the 'available_date' column.
    - If 'Now', replaces it with today's date.
    - If 'Ask agent', replaces it with '1900-01-01'.
    - If it contains a valid date (DD/MM/YYYY), extracts and converts it.
    """
    today = datetime.today().strftime('%Y-%m-%d')
    default_date = "1900-01-01"  # Placeholder for 'Ask agent'
    
    df["parsed_available_date"] = pd.NaT  # Initialize new column with NaT

    for index, row in df.iterrows():
        available_date = row["available_date"]

        if isinstance(available_date, str):  # Ensure it's a string before processing
            if "Let available date: Now" in available_date:
                df.at[index, "parsed_available_date"] = today
            elif "Let available date: Ask agent" in available_date:
                df.at[index, "parsed_available_date"] = default_date
            else:
                try:
                    # Extract actual date from text
                    date_str = available_date.replace("Let available date: ", "").strip()
                    parsed_date = datetime.strptime(date_str, "%d/%m/%Y").strftime('%Y-%m-%d')
                    df.at[index, "parsed_available_date"] = parsed_date
                except ValueError:
                    df.at[index, "parsed_available_date"] = pd.NaT  # If parsing fails, set as NaT

    return df

# ‚úÖ Apply function
df_raw = parse_available_date(df_raw)

In [215]:
df_raw.sample(10)

,id,property_address,agent_address,agent_name,available_date,property_type,bedrooms,bathrooms,post_date,price,latitude,longitude,url,ingestion_timestamp,monthly_price,parsed_post_date,parsed_available_date
210,211,"The Peninsula Building, Kersal Way, Salford, M...","197-201 Manchester Road, Altrincham, WA14 5NU","Admove, Altrincham",Let available date: Ask agent,Apartment,1.0,1.0,Reduced yesterday,¬£850 pcm\n¬£196 pw,53.508633,-2.276481,https://www.rightmove.co.uk/properties/1572133...,2025-03-05 08:59:05.366798,850,2025-03-04,1900-01-01
778,779,"Hill Quays, 8 Commercial Road, Manchester, M15","9 Michigan Avenue, Salford, M50 2HA","X1 Sales & Lettings, Salford",Let available date: Now,Flat,2.0,0,Reduced on 12/02/2025,"¬£1,275 pcm\n¬£294 pw",53.472716,-2.250694,https://www.rightmove.co.uk/properties/1543679...,2025-03-05 08:59:05.366798,1275,2025-02-12,2025-03-05
781,782,"Palatine Road, Manchester, Greater Manchester,...","43 Blackburn Street, Radcliffe, M26 1NR","Your Move, Radcliffe",Let available date: 17/02/2025,Flat,1.0,1.0,Added on 12/02/2025,¬£975 pcm\n¬£225 pw,53.429246,-2.232826,https://www.rightmove.co.uk/properties/1581643...,2025-03-05 08:59:05.366798,975,2025-02-12,2025-02-17
63,64,"Portway, Wythenshawe, Manchester, M22","53a Church Road, Gatley, Cheadle, SK8 4NG","Northern Etchells, Manchester",Let available date: Now,Terraced,2,1,Added today,"¬£1,200 pcm\n¬£277 pw",53.374200,-2.272000,https://www.rightmove.co.uk/properties/1583138...,2025-03-05 08:59:05.366798,1200,2025-03-05,2025-03-05
83,84,"NV Buidling, The Quays, Salford, M50 3BE","Citypoint 2, 156 Chapel Street, Manchester M3 6ES","C & R Properties Ltd, Salford Manchester",Let available date: Now,Apartment,2,2,Added today,"¬£1,750 pcm\n¬£404 pw",53.473285,-2.292569,https://www.rightmove.co.uk/properties/1583141...,2025-03-05 08:59:05.366798,1750,2025-03-05,2025-03-05
134,135,"Bury Street, Stockport, SK5 7RE",Web based Estate Agent,"Visum, Nationwide",Let available date: 24/02/2025,Terraced,2.0,1.0,Added today,¬£950 pcm\n¬£219 pw,53.419574,-2.158583,https://www.rightmove.co.uk/properties/1583165...,2025-03-05 08:59:05.366798,950,2025-03-05,2025-02-24
483,484,"Cobourg Street, Manchester, M1","20 Wenlock Road, London, N1 7GU","OpenRent, London",Let available date: Now,Studio,0,1.0,Added yesterday,¬£900 pcm\n¬£208 pw,53.476456,-2.233317,https://www.rightmove.co.uk/properties/1582465...,2025-03-05 08:59:05.366798,900,2025-03-04,2025-03-05
863,864,"Woden Street, Salford","16 Commercial Street, Manchester, M15 4PZ","Premier Residential, Manchester",Let available date: 21/02/2025,Apartment,2.0,2.0,Reduced on 12/02/2025,"¬£1,150 pcm\n¬£265 pw",53.472684,-2.266424,https://www.rightmove.co.uk/properties/1572159...,2025-03-05 08:59:05.366798,1150,2025-02-12,2025-02-21
582,581,"Simpson Street, Manchester","209-210 Oakland House Talbot Road, Stretford, ...","City Comfort Luxury Apartments, Manchester",Let available date: 20/02/2025,House,2.0,2.0,Added on 13/02/2025,"¬£1,450 pcm\n¬£335 pw",53.487949,-2.235143,https://www.rightmove.co.uk/properties/1582249...,2025-03-05 08:59:05.366798,1450,2025-02-13,2025-02-20
391,392,The Quay Loop Road Harbour City M50,"The Quays, Salford, M50 3SF","Duet, Duet",Let available date: Now,Flat,2.0,2.0,Added yesterday,"¬£1,355 pcm\n¬£313 pw",53.474070,-2.288470,https://www.rightmove.co.uk/properties/1582657...,2025-03-05 08:59:05.366798,1355,2025-03-04,2025-03-05

In [216]:
# Convert 'bedrooms' to integers
df_raw["bedrooms"] = pd.to_numeric(df_raw["bedrooms"], errors="coerce").astype("Int64")
df_raw["bathrooms"] = pd.to_numeric(df_raw["bathrooms"], errors="coerce").astype("Int64")

In [217]:
# Create an empty list to store addresses
addresses = []

# Iterate through each row and get the address
for index, row in df_raw.iterrows():
    lat, lon = row["latitude"], row["longitude"]
    address = get_address(lat, lon)  # Call the function
    addresses.append(address)  # Store result

# Assign the list to a new column in the DataFrame
df_raw["full_address"] = addresses

Error fetching address for 53.38371, -2.25719: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=53.38371&lon=-2.25719&format=json&addressdetails=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000001DD2C1F0ED0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))

In [218]:
# Iterate through DataFrame and update missing addresses
tqdm.pandas()  # Enable progress bar

for index, row in df_raw.iterrows():
    if pd.isna(row["full_address"]):  # Check if property_address is missing
        df_raw.at[index, "full_address"] = get_address(row["latitude"], row["longitude"])

# ‚úÖ Now, df["property_address"] will have missing values filled!

In [219]:
import re

def extract_property_id(df, url_column="url"):
    """
    Extracts the property ID from a Rightmove URL and appends it as a new column.
    
    Args:
        df (pd.DataFrame): The DataFrame containing a column with Rightmove URLs.
        url_column (str): The column name containing the property URLs. Default is "URL".
    
    Returns:
        pd.DataFrame: The updated DataFrame with a new "Property ID" column.
    """
    # Define regex pattern to extract property ID
    pattern = r"/properties/(\d+)"

    # Extract property ID using regex and create a new column
    df["listing_id"] = df[url_column].apply(lambda x: re.search(pattern, x).group(1) if pd.notna(x) and re.search(pattern, x) else None)

    print("‚úÖ Property IDs extracted and added to the DataFrame!")
    return df



df_raw = extract_property_id(df_raw)

# Display updated DataFrame

‚úÖ Property IDs extracted and added to the DataFrame!

In [222]:
variables_overview(df_raw)

,unique,dtype,null,null %,has_non_alphanumeric,has_digits
id,904,int64,0,0.0,False,True
property_address,593,object,0,0.0,True,True
agent_address,193,object,0,0.0,True,True
agent_name,192,object,0,0.0,True,True
available_date,100,object,0,0.0,True,True
property_type,18,object,0,0.0,True,True
bedrooms,11,Int64,0,0.0,False,True
bathrooms,8,Int64,0,0.0,False,True
post_date,16,object,0,0.0,True,True
price,247,object,0,0.0,True,True
latitude,571,float64,0,0.0,True,True
longitude,570,float64,0,0.0,True,True
url,757,object,0,0.0,True,True
ingestion_timestamp,1,datetime64[us],0,0.0,True,True
monthly_price,247,Int64,0,0.0,False,True
parsed_post_date,12,object,0,0.0,True,True
parsed_available_date,99,datetime64[ns],0,0.0,True,True
full_address,505,object,0,0.0,True,True
listing_id,757,object,0,0.0,False,True

In [223]:
df_raw.describe(include=[object]).T

,count,unique,top,freq
property_address,904,593,"Colliers Yard, M3",42
agent_address,904,193,"2-6 Boundary Row, London, SE1 8HP",69
agent_name,904,192,"Home Made, London",69
available_date,904,100,Let available date: Now,366
property_type,904,18,Apartment,397
post_date,904,16,Added yesterday,217
price,904,247,"¬£1,200 pcm\n¬£277 pw",59
url,904,757,https://www.rightmove.co.uk/properties/1581605...,6
parsed_post_date,904,12,2025-03-04,291
full_address,904,505,"Cortland at Colliers Yard, 7, Bankside Bouleva...",32
listing_id,904,757,158160542,6

In [224]:
data_overview(df_raw, 'Data')

                        Data
Columns                 19.0
Rows                   904.0
Missing_Values           0.0
Missing_Values %         0.0
Duplicates               0.0
Duplicates %             0.0
Categorical_variables   11.0
Boolean_variables        0.0
Numerical_variables      6.0

In [225]:
df_raw.columns

Index(['id', 'property_address', 'agent_address', 'agent_name',
       'available_date', 'property_type', 'bedrooms', 'bathrooms', 'post_date',
       'price', 'latitude', 'longitude', 'url', 'ingestion_timestamp',
       'monthly_price', 'parsed_post_date', 'parsed_available_date',
       'full_address', 'listing_id'],
      dtype='object')

In [226]:
import time

def generate_short_id(row):
    return f"{row['id']}{int(time.time() % 1e6)}"  # Combine id with last 6 digits of timestamp

df_raw = df_raw.copy()  # Make an explicit copy
df_raw["rowid"] = df_raw.apply(generate_short_id, axis=1)

In [227]:
df_raw[df_raw.duplicated(subset=["url", "listing_id"])]

,id,property_address,agent_address,agent_name,available_date,property_type,bedrooms,bathrooms,post_date,price,latitude,longitude,url,ingestion_timestamp,monthly_price,parsed_post_date,parsed_available_date,full_address,listing_id,rowid
25,26,"Colliers Yard, M3","2-6 Boundary Row, London, SE1 8HP","Home Made, London",Let available date: Now,Flat,2,1,Added on 12/02/2025,"¬£1,815 pcm\n¬£419 pw",53.486897,-2.249365,https://www.rightmove.co.uk/properties/1581605...,2025-03-05 08:59:05.366798,1815,2025-02-12,2025-03-05,"Cortland at Colliers Yard, 7, Bankside Bouleva...",158160542,26167527
26,27,"Bury Street, Stockport, SK5 7RE",Web based Estate Agent,"Visum, Nationwide",Let available date: 24/02/2025,Terraced,2,1,Added today,¬£950 pcm\n¬£219 pw,53.419574,-2.158583,https://www.rightmove.co.uk/properties/1583165...,2025-03-05 08:59:05.366798,950,2025-03-05,2025-02-24,"Walmsley Street, Portwood, Stockport, Greater ...",158316575,27167527
27,28,"Legh Street, Manchester","Sentinel House, Albert Street, Eccles, Manches...","Hills, Eccles",Let available date: 17/03/2025,Terraced,2,1,Added today,¬£995 pcm\n¬£230 pw,53.482136,-2.360061,https://www.rightmove.co.uk/properties/1583160...,2025-03-05 08:59:05.366798,995,2025-03-05,2025-03-17,"Bridgewater Mill, Legh Street, Patricroft, Ecc...",158316059,28167527
28,29,Sandycroft Wythenshawe,Kings House Stamford Street Altrincham WA14 1EX,"Kirn Estates, Altrincham",Let available date: 28/02/2025,Apartment,2,1,Added today,"¬£1,150 pcm\n¬£265 pw",53.383710,-2.257190,https://www.rightmove.co.uk/properties/1583159...,2025-03-05 08:59:05.366798,1150,2025-03-05,2025-02-28,"Sandycroft Avenue, Benchill, Wythenshawe, Manc...",158315960,29167527
29,30,"Heald Avenue, Manchester, M14",588 Stockport Road Longsight Manchester M13 0RQ,"Madina Property, Manchester",Let available date: Now,Terraced,2,1,Added today,"¬£1,200 pcm\n¬£277 pw",53.454400,-2.230760,https://www.rightmove.co.uk/properties/1583158...,2025-03-05 08:59:05.366798,1200,2025-03-05,2025-03-05,"Heald Avenue, Rusholme, Manchester, Greater Ma...",158315822,30167527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,"Back Hulme Street, Manchester, Greater Manches...","11 Back Hulme Street, Salford, M5 4QT","Greystar, Oxbow, Salford",Let available date: 06/03/2025,Apartment,1,1,Reduced on 12/02/2025,"¬£1,135 pcm\n¬£262 pw",53.481940,-2.266530,https://www.rightmove.co.uk/properties/1581593...,2025-03-05 08:59:05.366798,1135,2025-02-12,2025-03-06,"Back Hulme Street, Blackfriars, Ordsall, Salfo...",158159300,828167527
847,848,"Duke Street, Manchester, Greater Manchester, M3","60 Oxford Street, Manchester, M1 5EE","Manchester Apartments, Manchester Apartments",Let available date: Now,Apartment,1,1,Added on 12/02/2025,"¬£1,634 pcm\n¬£377 pw",53.476030,-2.254140,https://www.rightmove.co.uk/properties/1581547...,2025-03-05 08:59:05.366798,1634,2025-02-12,2025-03-05,"Stone Street, Castlefield, City Centre, Manche...",158154743,848167527
848,849,"Anchorage Quay, Manchester, Greater Manchester...","Anchorage Quay, Salford, M50 3BX","Clay Life, Clay",Let available date: 01/03/2025,Duplex,1,1,Added on 13/02/2025,"¬£1,368 pcm\n¬£316 pw",53.473890,-2.285910,https://www.rightmove.co.uk/properties/1582267...,2025-03-05 08:59:05.366798,1368,2025-02-13,2025-03-01,"The Anchorage, 1-4, Anchorage Quay, Salford Qu...",158226713,849167527
873,874,"Apartment 904, 7 Nobel Way, Manchester, Greate...","7 Nobel Way, Oxford Road, Manchester, M1 7FU","uhaus, uhaus",Let available date: Ask agent,Apartment,2,2,Added yesterday,"¬£1,975 pcm\n¬£456 pw",53.473090,-2.237910,https://www.rightmove.co.uk/properties/1582713...,2025-03-05 08:59:05.366798,1975,2025-03-04,1900-01-01,"7, Nobel Way, Circle Square, City Centre, Manc...",158271338,874167527
878,879,"Square Gardens, Wilmott Street, Manchester, Gr...","5 Botanic Avenue, Manchester, M15 6AA","Downing Property Management Ltd, Square Gardens",Let available date: Ask agent,Studio,0,1,Added on 12/02/2025,"¬£1,625 pcm\n¬£375 pw",53.472130,-2.243520,https://www.rightmove.co.uk/properties/8708331...,2025-03-05 08:59:05.366798,1625,2025-02-12,1900-01-01,"Hulme Street Car Park, Hulme Street, First Str...",87083313,879167527

In [228]:
df_raw = df_raw.drop_duplicates(subset=["url", "listing_id"], keep="first")

In [229]:
df_raw

,id,property_address,agent_address,agent_name,available_date,property_type,bedrooms,bathrooms,post_date,price,latitude,longitude,url,ingestion_timestamp,monthly_price,parsed_post_date,parsed_available_date,full_address,listing_id,rowid
0,1,"Colliers Yard, M3","2-6 Boundary Row, London, SE1 8HP","Home Made, London",Let available date: Now,Flat,2,1,Added on 12/02/2025,"¬£1,815 pcm\n¬£419 pw",53.486897,-2.249365,https://www.rightmove.co.uk/properties/1581605...,2025-03-05 08:59:05.366798,1815,2025-02-12,2025-03-05,"Cortland at Colliers Yard, 7, Bankside Bouleva...",158160542,1167527
1,2,"Bury Street, Stockport, SK5 7RE",Web based Estate Agent,"Visum, Nationwide",Let available date: 24/02/2025,Terraced,2,1,Added today,¬£950 pcm\n¬£219 pw,53.419574,-2.158583,https://www.rightmove.co.uk/properties/1583165...,2025-03-05 08:59:05.366798,950,2025-03-05,2025-02-24,"Walmsley Street, Portwood, Stockport, Greater ...",158316575,2167527
2,3,"Legh Street, Manchester","Sentinel House, Albert Street, Eccles, Manches...","Hills, Eccles",Let available date: 17/03/2025,Terraced,2,1,Added today,¬£995 pcm\n¬£230 pw,53.482136,-2.360061,https://www.rightmove.co.uk/properties/1583160...,2025-03-05 08:59:05.366798,995,2025-03-05,2025-03-17,"Bridgewater Mill, Legh Street, Patricroft, Ecc...",158316059,3167527
3,4,Sandycroft Wythenshawe,Kings House Stamford Street Altrincham WA14 1EX,"Kirn Estates, Altrincham",Let available date: 28/02/2025,Apartment,2,1,Added today,"¬£1,150 pcm\n¬£265 pw",53.383710,-2.257190,https://www.rightmove.co.uk/properties/1583159...,2025-03-05 08:59:05.366798,1150,2025-03-05,2025-02-28,"Sandycroft Avenue, Benchill, Wythenshawe, Manc...",158315960,4167527
4,5,"Heald Avenue, Manchester, M14",588 Stockport Road Longsight Manchester M13 0RQ,"Madina Property, Manchester",Let available date: Now,Terraced,2,1,Added today,"¬£1,200 pcm\n¬£277 pw",53.454400,-2.230760,https://www.rightmove.co.uk/properties/1583158...,2025-03-05 08:59:05.366798,1200,2025-03-05,2025-03-05,"Heald Avenue, Rusholme, Manchester, Greater Ma...",158315822,5167527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899,900,"Wilmott Street, Manchester, Greater Manchester...","50 Bridge Street, Manchester, M3 3BW","Savills Lettings, Manchester",Let available date: Now,Apartment,0,1,Added on 12/02/2025,"¬£1,350 pcm\n¬£312 pw",53.471124,-2.245620,https://www.rightmove.co.uk/properties/8707828...,2025-03-05 08:59:05.366798,1350,2025-02-12,2025-03-05,"Newcastle Street, First Street, City Centre, M...",87078282,900167527
900,901,"Armitage Street, Manchester","Sentinel House, Albert Street, Eccles, Manches...","Hills, Eccles",Let available date: Now,Terraced,2,1,Added on 12/02/2025,"¬£1,050 pcm\n¬£242 pw",53.480202,-2.355132,https://www.rightmove.co.uk/properties/1566649...,2025-03-05 08:59:05.366798,1050,2025-02-12,2025-03-05,"Armitage Street, Barton upon Irwell, Eccles, S...",156664946,901167527
901,902,"Granby House, Granby Row, Manchester, M1","289 - 291 Deansgate, Manchester, M3 4EW","Leaders Lettings, Manchester",Let available date: 14/04/2025,Apartment,1,1,Added on 12/02/2025,¬£995 pcm\n¬£230 pw,53.474990,-2.235900,https://www.rightmove.co.uk/properties/1581476...,2025-03-05 08:59:05.366798,995,2025-02-12,2025-04-14,"Granby House, Granby Row, Petersfield, City Ce...",158147615,902167527
902,903,"Parrs Wood Road, Fallowfield, Manchester, M20 4RQ","Townhouse, 117 Ducie House, Ducie Street, Manc...","Townhouse, Manchester",Let available date: 01/07/2025,Semi-Detached,6,2,Reduced on 12/02/2025,"¬£4,030 pcm\n¬£930 pw",53.428707,-2.216506,https://www.rightmove.co.uk/properties/1541239...,2025-03-05 08:59:05.366798,4030,2025-02-12,2025-07-01,"Parrs Wood Road, Ladybarn, Burnage, Manchester...",154123958,903167527
903,904,"Cypress Place, 9 New Century Park, Manchester, M4","361 Deansgate, Manchester, M3 4LG","NEXIS Property, Manchester",Let available date: Now,Apartment,2,2,Reduced on 12/02/2025,"¬£1,200 pcm\n¬£277 pw",53.489762,-2.240247,https://www.rightmove.co.uk/properties/1558362...,2025-03-05 08:59:05.366798,1200,2025-02-12,2025-03-05,"Cypress Place, 9, New Century Park, Green Quar...",155836268,904167527

In [230]:
selected_columns = ['rowid','property_address', 'agent_address', 'agent_name', 'property_type', 'bedrooms', 'bathrooms', 'monthly_price', 'parsed_available_date','latitude', 'longitude', 'url', 'listing_id', 'parsed_post_date', 'full_address', ]

In [231]:
# Create a new DataFrame with only these columns
silver_df = df_raw[selected_columns].copy()

In [232]:
silver_df.columns

Index(['rowid', 'property_address', 'agent_address', 'agent_name',
       'property_type', 'bedrooms', 'bathrooms', 'monthly_price',
       'parsed_available_date', 'latitude', 'longitude', 'url', 'listing_id',
       'parsed_post_date', 'full_address'],
      dtype='object')

In [233]:
def extract_dataframes(df, **column_groups):
    """
    Extracts specified columns from a DataFrame into separate DataFrames.
    
    Parameters:
    df (pd.DataFrame): The original DataFrame containing all data.
    column_groups (dict): Dictionary of column group names (e.g., 'agents', 'locations') 
                          and their corresponding column lists.

    Returns:
    dict: A dictionary where keys are group names (e.g., 'agents_df') and values are DataFrames.
    """
    extracted_dfs = {}

    for group_name, columns in column_groups.items():
        extracted_dfs[f"{group_name}_df"] = df[columns].drop_duplicates().reset_index(drop=True)

    return extracted_dfs

In [234]:

# Example usage (only extracting agents and locations)
column_groups = {
    "agents": ['agent_name', 'agent_address', 'rowid'],
    "locations": ['full_address', 'latitude', 'longitude', 'property_address', 'rowid'],
    "properties": ['property_type', 'bedrooms', 'bathrooms', 'rowid'],
    "listings": ['parsed_post_date','parsed_available_date', 'monthly_price', 'listing_id', 'url', 'rowid']
}

In [235]:
extracted_data = extract_dataframes(silver_df, **column_groups)

# Access specific DataFrames
agents_df = extracted_data.get("agents_df")
locations_df = extracted_data.get("locations_df")
properties_df = extracted_data.get("properties_df")
listings_df = extracted_data.get("listings_df")



# Print results

In [236]:
agents_df

,agent_name,agent_address,rowid
0,"Home Made, London","2-6 Boundary Row, London, SE1 8HP",1167527
1,"Visum, Nationwide",Web based Estate Agent,2167527
2,"Hills, Eccles","Sentinel House, Albert Street, Eccles, Manches...",3167527
3,"Kirn Estates, Altrincham",Kings House Stamford Street Altrincham WA14 1EX,4167527
4,"Madina Property, Manchester",588 Stockport Road Longsight Manchester M13 0RQ,5167527
...,...,...,...
752,"Savills Lettings, Manchester","50 Bridge Street, Manchester, M3 3BW",900167527
753,"Hills, Eccles","Sentinel House, Albert Street, Eccles, Manches...",901167527
754,"Leaders Lettings, Manchester","289 - 291 Deansgate, Manchester, M3 4EW",902167527
755,"Townhouse, Manchester","Townhouse, 117 Ducie House, Ducie Street, Manc...",903167527
756,"NEXIS Property, Manchester","361 Deansgate, Manchester, M3 4LG",904167527

## Resetting üöÄ Git Repository to Ensure Data Consistency 

### Why This?
To maintain a structured and standardized dataset in the Silver layer, it is crucial to work with an up-to-date and consistent codebase. The following function ensures that our repository stays synchronized with the latest remote changes, preventing outdated transformations and potential inconsistencies in our data pipeline.

### How It Works
1. **Checks if the repository already exists** in the specified local directory.
2. If it exists:
   - Switches to the `main` branch.
   - Fetches all changes from the remote repository.
   - Resets the local repository to exactly match the remote `main` branch.
3. If the repository **does not exist**, it clones the repository from the given GitHub URL.
4. Provides informative messages about the status of the repository update.

In [237]:
import os
import subprocess

def reset_repo(repo_url, local_dir):
    """
    Force resets a local Git repository to match the remote repository.
    
    Parameters:
    repo_url (str): GitHub repository URL.
    local_dir (str): Target directory where the repo is stored.

    Returns:
    None
    """
    try:
        # Extract repo name from URL
        repo_name = repo_url.split("/")[-1].replace(".git", "")
        repo_path = os.path.join(local_dir, repo_name)

        if os.path.exists(repo_path):
            print(f"‚ö†Ô∏è Repository already exists at {repo_path}. Resetting to remote version...")
            os.chdir(repo_path)

            # Ensure we are on the main branch
            subprocess.run("git checkout main", shell=True, check=True)

            # Reset local changes and force pull from remote
            
            #subprocess.run("git fetch --all", shell=True, check=True)
            subprocess.run("git fetch --all", shell=True, check=True)
            subprocess.run("git reset --hard origin/main", shell=True, check=True)

            print("‚úÖ Repository successfully reset to match remote.")
            return

        # If repo doesn't exist, clone it
        os.chdir(local_dir)
        subprocess.run(f"git clone {repo_url}", shell=True, check=True)
        print(f"‚úÖ Repository cloned successfully: {repo_url}")

    except Exception as e:
        print(f"‚ùå Error: {e}")

# Usage
repo_url = "https://github.com/sisqodataclub/supabase.git"
local_dir = r"C:\Users\fd92u"
reset_repo(repo_url, local_dir)

‚ö†Ô∏è Repository already exists at C:\Users\fd92u\supabase. Resetting to remote version...
‚úÖ Repository successfully reset to match remote.

# üìå Dump and Restore Supabase Database to Local PostgreSQL

## üîç Overview
This script automates the process of **dumping a Supabase database** and immediately **restoring it** to a local PostgreSQL instance. It:
- Extracts the **schema**, **roles**, and **data** from Supabase.
- Saves them as `.sql` files.
- Restores the extracted data into a **local database**.

In [238]:
import subprocess

def dump_and_restore(supabase_url, local_db_url, psql_path):
    """
    Dumps the Supabase database and immediately restores it to the local database.

    Parameters:
    supabase_url (str): The Supabase PostgreSQL connection URL.
    local_db_url (str): The local PostgreSQL connection URL.
    psql_path (str): The path to the psql executable.
    """

    # Define dump and restore file names
    dump_files = {
        "schema.sql": ["--db-url", supabase_url, "-f", "schema.sql"],
        "roles.sql": ["--db-url", supabase_url, "-f", "roles.sql", "--role-only"],
        "data.sql": ["--db-url", supabase_url, "-f", "data.sql", "--use-copy", "--data-only"]
    }

    for file_name, dump_command in dump_files.items():
        try:
            # Dump the data from Supabase
            print(f"üîÑ Dumping {file_name} from Supabase...")
            subprocess.run(["supabase", "db", "dump"] + dump_command, capture_output=True, text=True, check=True)
            print(f"‚úÖ Dumped {file_name} successfully!")

            # Restore the data to the local database
            print(f"üîÑ Restoring {file_name} to the local database...")
            restore_command = [psql_path, "--single-transaction", "--variable", "ON_ERROR_STOP=1",
                               "--dbname", local_db_url, "--file", file_name]
            subprocess.run(restore_command, capture_output=True, text=True, check=True)
            print(f"‚úÖ Restored {file_name} successfully!")

        except subprocess.CalledProcessError as e:
            print(f"‚ùå Error processing {file_name}:")
            print(e.stderr)

# Example usage
SUPABASE_URL = "postgresql://postgres.nvsxjetzyvombzhzuzdw:uksg2023A11@aws-0-eu-west-2.pooler.supabase.com:5432/postgres"
LOCAL_DB_URL = "postgresql://postgres:postgres@127.0.0.1:54322/postgres"
PSQL_PATH = "C:\\Program Files\\PostgreSQL\\17\\bin\\psql.exe"

dump_and_restore(SUPABASE_URL, LOCAL_DB_URL, PSQL_PATH)

üîÑ Dumping schema.sql from Supabase...
‚úÖ Dumped schema.sql successfully!
üîÑ Restoring schema.sql to the local database...
‚úÖ Restored schema.sql successfully!
üîÑ Dumping roles.sql from Supabase...
‚úÖ Dumped roles.sql successfully!
üîÑ Restoring roles.sql to the local database...
‚úÖ Restored roles.sql successfully!
üîÑ Dumping data.sql from Supabase...
‚úÖ Dumped data.sql successfully!
üîÑ Restoring data.sql to the local database...
‚úÖ Restored data.sql successfully!

# üöÄ Automating Supabase Migrations & SQL Table Creation

## üîç Overview
This script automates the **creation of Supabase migrations** and **writes a SQL `CREATE TABLE` statement** based on a Pandas DataFrame. It:
- Creates a **Supabase migration** inside a specified folder.
- Extracts **data types from a Pandas DataFrame**.
- Writes a `CREATE TABLE` SQL statement in the migration file.

In [239]:
import os
import subprocess
from datetime import datetime

def run_supabase_migration(folder: str, migration_name: str):
    """
    Runs a Supabase migration command inside a specified folder and returns the generated filename.
    """
    print(f"üìå Running Supabase migration in {folder}...")

    command = f'cd {folder} && supabase migration new {migration_name}'
    subprocess.run(command, shell=True, check=True)

    # Get the latest created migration file
    migration_folder = os.path.join(folder, "supabase", "migrations")
    files = sorted(os.listdir(migration_folder), reverse=True)

    for file in files:
        if migration_name in file and file.endswith(".sql"):
            migration_file = os.path.join(migration_folder, file)
            print(f"‚úÖ Migration file created: {migration_file}")
            return migration_file

    print("‚ùå Error: Migration file not found!")
    return None

In [240]:
def write_df_sql(scheme_df, table_name, migration_file):
    """
    Writes a SQL CREATE TABLE statement from a CSV file to an existing migration file.
    """
    
    df = scheme_df
    if df.empty:
        print("‚ùå Error: df is empty!")
        return None

    sql_types = {
    "int8": "TINYINT",        # Small integer
    "int16": "SMALLINT",      # Small integer
    "int32": "INTEGER",       # Standard integer
    "int64": "BIGINT",        # Large integer
    
    "float16": "REAL",        # Floating point (low precision)
    "float32": "REAL",        # Floating point
    "float64": "DOUBLE PRECISION",  # High precision float

    "object": "TEXT",         # Strings
    "string": "TEXT",         # Strings (new Pandas dtype)
    
    "bool": "BOOLEAN",        # Boolean values (True/False)
    
    "datetime64": "TIMESTAMP",   # Date & time values
    "datetime64[ns]": "TIMESTAMP",  # Nanosecond precision timestamps
    "timedelta64[ns]": "INTERVAL",  # Time differences
    
    "category": "TEXT",       # Categorical data stored as text
    "complex64": "TEXT",      # Complex numbers stored as text
    "complex128": "TEXT"      # Complex numbers stored as text
}


    sql_statement_schema = """
    -- Create Bronze, Silver, and Gold schemas
    CREATE SCHEMA IF NOT EXISTS bronze;
    CREATE SCHEMA IF NOT EXISTS silver;
    CREATE SCHEMA IF NOT EXISTS gold;
    """
    sql_statements = ["-- SQL Migration Script\n"]
    
    sql_create_table = f"CREATE TABLE IF NOT EXISTS silver.{table_name} (\n    id SERIAL PRIMARY KEY,\n"

    for col in df.columns:
        col_type = sql_types.get(str(df[col].dtype), "TEXT")  # Default to TEXT if unknown
        sql_create_table += f'    "{col}" {col_type},\n'

    sql_create_table = sql_create_table.rstrip(",\n") + "\n);\n"
    sql_statements.append(sql_statement_schema)
    sql_statements.append(sql_create_table)
   

    sql_content = "\n".join(sql_statements)

    print("üìå Writing SQL to:", migration_file)

    try:
        with open(migration_file, "a", encoding="utf-8") as f:
            f.write(sql_content)
            f.flush()
        print(f"‚úÖ SQL migration file written successfully: {migration_file}")
    except Exception as e:
        print(f"‚ùå Error writing file: {e}")
        return None

    return migration_file

In [241]:
os.chdir(r"C:\Users\fd92u")

In [242]:

# üèó **Full Workflow Execution**
folder = "supabase"
migration_name = "silver_scheme"
#________________________________________

# Step 1: Create Supabase migration
migration_file = run_supabase_migration(folder, migration_name)

üìå Running Supabase migration in supabase...
‚úÖ Migration file created: supabase\supabase\migrations\20250305095136_silver_scheme.sql

In [243]:
# Step 2: Define DataFrames and their table names
tables = {
    "agents_df": agents_df,
    "locations_df": locations_df,
    "properties_df": properties_df,
    "listings_df": listings_df
}

# Step 3: Write each DataFrame into the same migration file
if migration_file:
    for table_name, scheme_df in tables.items():
        write_df_sql(scheme_df, table_name, migration_file)

üìå Writing SQL to: supabase\supabase\migrations\20250305095136_silver_scheme.sql
‚úÖ SQL migration file written successfully: supabase\supabase\migrations\20250305095136_silver_scheme.sql
üìå Writing SQL to: supabase\supabase\migrations\20250305095136_silver_scheme.sql
‚úÖ SQL migration file written successfully: supabase\supabase\migrations\20250305095136_silver_scheme.sql
üìå Writing SQL to: supabase\supabase\migrations\20250305095136_silver_scheme.sql
‚úÖ SQL migration file written successfully: supabase\supabase\migrations\20250305095136_silver_scheme.sql
üìå Writing SQL to: supabase\supabase\migrations\20250305095136_silver_scheme.sql
‚úÖ SQL migration file written successfully: supabase\supabase\migrations\20250305095136_silver_scheme.sql

# üîó Adding Foreign Keys to a Table in Supabase Migrations

## üîç Overview
This function automates the process of **adding foreign key constraints** to an existing table in a Supabase migration file. It:
- Adds a **new foreign key column** if it doesn't already exist.
- Enforces **foreign key constraints** with `ON DELETE CASCADE`.
- Appends the SQL statements to the migration file.

In [244]:
def add_foreign_keys(table_name, foreign_keys, migration_file):
    """
    Adds foreign key columns to a table and appends ALTER TABLE statements 
    to enforce foreign key constraints.

    Parameters:
    table_name (str): The name of the table to modify.
    foreign_keys (dict): Dictionary where keys are column names and values are tuples (referenced_table, referenced_column).
    migration_file (str): Path to the migration file where SQL will be appended.

    Returns:
    str: The migration file path if successful, None otherwise.
    """

    if not foreign_keys:
        print("‚ùå Error: No foreign keys provided!")
        return None

    sql_statements = ["-- Alter Table to Add Foreign Keys\n"]

    for column, (ref_table, ref_column) in foreign_keys.items():
        # Step 1: Add the column if it doesn't exist
        add_column_statement = f"""
        ALTER TABLE {table_name}
        ADD COLUMN IF NOT EXISTS "{column}" INTEGER;
        """
        sql_statements.append(add_column_statement.strip())

        # Step 2: Add the foreign key constraint
        alter_statement = f"""
        ALTER TABLE {table_name}
        ADD CONSTRAINT fk_{column}
        FOREIGN KEY ("{column}") REFERENCES silver.{ref_table}("{ref_column}")
        ON DELETE CASCADE;
        """
        sql_statements.append(alter_statement.strip())

    sql_content = "\n".join(sql_statements)

    print("üìå Writing Foreign Key Constraints to:", migration_file)

    try:
        with open(migration_file, "a", encoding="utf-8") as f:
            f.write("\n" + sql_content)
            f.flush()
        print(f"‚úÖ Foreign keys added successfully in: {migration_file}")
    except Exception as e:
        print(f"‚ùå Error writing file: {e}")
        return None

    return migration_file

In [245]:
# Step 1: Create Supabase migration file
folder = "supabase"
migration_name = "add_foreign_keys"
migration_fk = run_supabase_migration(folder, migration_name)

# Step 2: Define foreign keys for the properties table
foreign_keys = {
    "locations_df_sil_id": ("locations_df", "id"),
    "agents_df_sil_id": ("agents_df", "id")
}

# Step 3: Append foreign key constraints to migration file
if migration_file:
    add_foreign_keys("silver.properties_df", foreign_keys, migration_fk)

üìå Running Supabase migration in supabase...
‚úÖ Migration file created: supabase\supabase\migrations\20250305095159_add_foreign_keys.sql
üìå Writing Foreign Key Constraints to: supabase\supabase\migrations\20250305095159_add_foreign_keys.sql
‚úÖ Foreign keys added successfully in: supabase\supabase\migrations\20250305095159_add_foreign_keys.sql

In [246]:
# Step 1: Create Supabase migration file
folder = "supabase"
migration_name = "add_foreign_keys"
migration_fk = run_supabase_migration(folder, migration_name)

# Step 2: Define foreign keys for the properties table
foreign_keys = {
    "properties_df_sil_id": ("properties_df", "id")  # Reference "id" instead
}

# Step 3: Append foreign key constraints to migration file
if migration_fk:  # ‚úÖ Fixed reference from migration_file ‚Üí migration_fk
    add_foreign_keys("silver.listings_df", foreign_keys, migration_fk)

üìå Running Supabase migration in supabase...
‚úÖ Migration file created: supabase\supabase\migrations\20250305095203_add_foreign_keys.sql
üìå Writing Foreign Key Constraints to: supabase\supabase\migrations\20250305095203_add_foreign_keys.sql
‚úÖ Foreign keys added successfully in: supabase\supabase\migrations\20250305095203_add_foreign_keys.sql

# Executing SQL Files 

## Introduction
This script is used to execute multiple SQL files on a PostgreSQL database. It is particularly useful in a **Silver Layer** of a data pipeline where schema transformations and data integrity checks are performed. By running predefined SQL migration files, we ensure that the Silver Layer maintains a consistent and structured database schema.

In [247]:
import psycopg2
from psycopg2 import sql

def execute_sql_files(db_url, file_paths):
    """
    Executes multiple SQL script files on a PostgreSQL database.

    Parameters:
    db_url (str): PostgreSQL connection URL.
    file_paths (list): List of SQL file paths to execute.
    """
    try:
        # Connect to PostgreSQL
        conn = psycopg2.connect(db_url)
        cursor = conn.cursor()

        for file_path in file_paths:
            try:
                with open(file_path, "r", encoding="utf-8") as file:
                    sql_script = file.read()
                    cursor.execute(sql.SQL(sql_script))
                    print(f"‚úÖ Successfully executed: {file_path}")
            except Exception as e:
                print(f"‚ùå Error executing {file_path}: {e}")
                conn.rollback()  # Rollback if there's an error for this file
                continue  # Move to the next file

        conn.commit()
    except Exception as e:
        print(f"‚ùå Database connection error: {e}")
    finally:
        if cursor:
            cursor.close()
        if conn:
            conn.close()

# Example usage:
DB_URL = "postgresql://postgres:postgres@127.0.0.1:54322/postgres"
SQL_FILES = [
    r"C:\\Users\\fd92u\\supabase\\supabase\\migrations\\20250305095136_silver_scheme.sql",
    r"C:\\Users\\fd92u\\supabase\\supabase\\migrations\\20250305095159_add_foreign_keys.sql",
    r"C:\\Users\\fd92u\\supabase\\supabase\\migrations\\20250305095203_add_foreign_keys.sql"
]

execute_sql_files(DB_URL, SQL_FILES)

‚úÖ Successfully executed: C:\\Users\\fd92u\\supabase\\supabase\\migrations\\20250305095136_silver_scheme.sql
‚úÖ Successfully executed: C:\\Users\\fd92u\\supabase\\supabase\\migrations\\20250305095159_add_foreign_keys.sql
‚úÖ Successfully executed: C:\\Users\\fd92u\\supabase\\supabase\\migrations\\20250305095203_add_foreign_keys.sql

# üìå Inserting Pandas DataFrame into Supabase Table

In [248]:
from supabase import create_client
import json
import numpy as np

API_URL = 'http://127.0.0.1:54321'
API_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0'

supabase = create_client(API_URL, API_KEY)
supabase

In [250]:
# ‚úÖ Replace NaN with None (null in JSON)
locations_df_ = locations_df.replace({np.nan: None, np.inf: None, -np.inf: None})
# Convert float columns to integer (assuming "id" is the problem column)

# ‚úÖ Convert to JSON string WITHOUT modifications
#data_to_insert = json.loads(df.to_json(orient="records"))

# Convert DataFrame to list of dictionaries for insertion
data_to_insert = locations_df.to_dict(orient='records')

# Insert data into Supabase table
table_name = "locations_df" # Change schema if needed, e.g., "bronze.rightmove_properties"
response = supabase.schema("silver").table(table_name).insert(data_to_insert).execute()

In [251]:
# ‚úÖ Replace NaN with None (null in JSON)
agents_df = agents_df.replace({np.nan: None, np.inf: None, -np.inf: None})
# Convert float columns to integer (assuming "id" is the problem column)

# ‚úÖ Convert to JSON string WITHOUT modifications
#data_to_insert = json.loads(df.to_json(orient="records"))

# Convert DataFrame to list of dictionaries for insertion
data_to_insert = agents_df.to_dict(orient='records')

# Insert data into Supabase table
table_name = "agents_df" # Change schema if needed, e.g., "bronze.rightmove_properties"
response = supabase.schema("silver").table(table_name).insert(data_to_insert).execute()

# üìå Inserting Data with Foreign Keys into Supabase  

## üìù Overview  
This process ensures that data is inserted **with its foreign key references** in Supabase.  
It involves:  
1. ‚úÖ Extracting primary keys (`id`) from related tables.  
2. ‚úÖ Mapping the foreign keys using `rowid`.  
3. ‚úÖ Uploading the final dataset into Supabase.  

---

# üìå Mapping Foreign Key Relationships from Supabase Tables  

## üìù Overview  
  
‚úî **Fetches Data from Supabase** (id & rowid).  
‚úî **Creates Pandas DataFrames** for easy manipulation.  
‚úî **Maps `rowid` ‚Üí `id`** using dictionaries.  
‚úî **Assigns Foreign Keys** to `properties_df` & `listings_df`.  
This code retrieves **IDs** from multiple Supabase tables and maps them correctly to another DataFrame based on `rowid`.

---

## üîπ Step 1: Fetch Data from Supabase Tables  

- Retrieves **`id`** and **`rowid`** from three tables:  
  - üèôÔ∏è `locations_df`
  - üè° `properties_df`
  - üë§ `agents_df`

In [252]:
locations_data = supabase.table("locations_df").select("id, rowid").execute()
agent_data = supabase.table("agents_df").select("id, rowid").execute()

## üîπ Step 2: Convert Supabase Data to Pandas DataFrames

In [253]:
df_locations = pd.DataFrame(locations_data.data)
df_agent = pd.DataFrame(agent_data.data)

## üîπ Step 3: Map Foreign Keys to `properties_df` and `listings_df`

In [257]:
# üîπ Convert `id` to a list (ordered by `rowid`)
id_list = df_locations.set_index("rowid")["id"].to_dict()
id_list_ag = df_agent.set_index("rowid")["id"].to_dict()



# üîπ Append `location_id` to `df_raw` using the list
properties_df["locations_df_sil_id"] = properties_df["rowid"].map(id_list)
properties_df["agents_df_sil_id"] = properties_df["rowid"].map(id_list_ag)

In [263]:

# üîπ Append `location_id` to `df_raw` using the list
properties_df

,property_type,bedrooms,bathrooms,rowid,locations_df_sil_id,agents_df_sil_id
0,Flat,2,1,1167527,1,1
1,Terraced,2,1,2167527,2,2
2,Terraced,2,1,3167527,3,3
3,Apartment,2,1,4167527,4,4
4,Terraced,2,1,5167527,5,5
...,...,...,...,...,...,...
752,Apartment,0,1,900167527,753,753
753,Terraced,2,1,901167527,754,754
754,Apartment,1,1,902167527,755,755
755,Semi-Detached,6,2,903167527,756,756
756,Apartment,2,2,904167527,757,757

# üìå Inserting Data with Foreign Keys into Supabase  

‚úÖ Uploading the final dataset into Supabase.  

---
---

In [260]:
# ‚úÖ Replace NaN with None (null in JSON)
properties_df = properties_df.replace({np.nan: None, np.inf: None, -np.inf: None})
# Convert float columns to integer (assuming "id" is the problem column)

# ‚úÖ Convert to JSON string WITHOUT modifications
#data_to_insert = json.loads(df.to_json(orient="records"))

# Convert DataFrame to list of dictionaries for insertion
data_to_insert = properties_df.to_dict(orient='records')

# Insert data into Supabase table
table_name = "properties_df" # Change schema if needed, e.g., "bronze.rightmove_properties"
response = supabase.schema("silver").table(table_name).insert(data_to_insert).execute()

In [264]:
properties_data = supabase.table("properties_df").select("id, rowid").execute()
df_properties = pd.DataFrame(properties_data.data)
id_list_pr = df_properties.set_index("rowid")["id"].to_dict()
listings_df["properties_df_sil_id"] = listings_df["rowid"].map(id_list_pr)

In [266]:
listings_df.sample(5)

,parsed_post_date,parsed_available_date,monthly_price,listing_id,url,rowid,properties_df_sil_id
407,2025-02-13,2025-03-05,1200,156083369,https://www.rightmove.co.uk/properties/1560833...,537167527,408
221,2025-03-04,2025-03-15,1100,158269553,https://www.rightmove.co.uk/properties/1582695...,349167527,222
116,2025-03-04,2025-03-19,1300,144952919,https://www.rightmove.co.uk/properties/1449529...,241167527,117
137,2025-03-04,2025-03-17,1100,158283767,https://www.rightmove.co.uk/properties/1582837...,262167527,138
280,2025-03-04,2025-03-01,1600,158263526,https://www.rightmove.co.uk/properties/1582635...,408167527,281

In [265]:
# ‚úÖ Replace NaN with None (null in JSON)
listings_df = listings_df.replace({np.nan: None, np.inf: None, -np.inf: None})
# Convert float columns to integer (assuming "id" is the problem column)

# ‚úÖ Convert to JSON string WITHOUT modifications
#data_to_insert = json.loads(df.to_json(orient="records"))

# Convert DataFrame to list of dictionaries for insertion
data_to_insert = listings_df.to_dict(orient='records')
# Convert all pandas Timestamps in the list of dictionaries
for record in data_to_insert:
    for key, value in record.items():
        if isinstance(value, pd.Timestamp):
            record[key] = value.isoformat()  # Convert to ISO 8601 string


# Insert data into Supabase table
table_name = "listings_df" # Change schema if needed, e.g., "bronze.rightmove_properties"
response = supabase.schema("silver").table(table_name).insert(data_to_insert).execute()